.container {
    width: 100px; height: 100px; transition : all 0.1s;
    position: relative;
}
.overlay {
    position: absolute;
    width: 100px;
    height: 100px;
    background: linear-gradient(105deg,
    transparent 40%,
    rgba(255, 219, 112, 0.8) 45%,
    rgba(132, 50, 255 ,0.6) 50%,
    transparent 54%);
    filter: brightness(1.1) opacity(0.8);
    mix-blend-mode: color-dodge;
    background-size: 150% 150%;
    background-position: 100%;
    transition: all 0.1s;
}
.card {
    width: 100px; height: 100px;
    border: 1px solid gray;
    /*background-image: url('pika.webp');*/
    background-size: cover;
}